{% extends 'store/main.html' %}
{% load static %}
{% block content%}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>

                </div>

                <div id="shipping-info">
                    <hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
                        <div class="form-field">
							<input class="form-control" type="text" name="county" placeholder="County..">
						</div>

						<div class="form-field">
							<input class="form-control" type="text" name="town" placeholder="Nearest Town..">
						</div>
						
						<div class="form-field">
							<input class="form-control" type="text" name="postalcode" placeholder="Postal code..">
						</div>
						
                </div>

            <hr>

            <input id= "form-button" class=" btn btn-success btn-block" type="submit" value="Continue">
            </form>

        </div>


        <br>
        <div class="box-element hidden" id="payment-info">
            
            <small>Mpesa Options</small>
            <button id="make-payment">Make Payment</button>

        </div>


    </div>
    
        
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                <div style="flex:2"><p>{{item.porduct.name}}</p></div>
                <div style="flex:1"><p>Kshs {{item.product.price}}</p></div>
                <div style="flex:1"><p>x {{ item.quantity }}</p></div>
            </div>
            {% endfor %}

            <h5>Items: {{ order.get_cart_items}}</h5>
            <h5>Total: Kshs {{ order.get_cart_total |floatformat:2}}</h5>
        </div>

    </div>
    
</div>
<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    var total= '{{order.get_cart_total}}'

    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML=''

    }

    if (user != 'AnonymousUser'){
        document.getElementById('user-info'). innerHTML= ''
    }
    if(shipping=='False' && user != 'AnonymousUser'){
        // Hide the entire form if shipping is false and user is logged in
        document.getElementById('form-wrapper').classList.add("hidden")
        // show payment if logged in user wants to buy an item that doesn't require shipping
        document.getElementById('payment-info').classList.remove('hidden')
    }


    var form= document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form submitted...')
        document.getElementById('form-button').classList.add("hidden");
        document.getElementById('payment-info').classList.remove("hidden");
               
    })

    document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('Payment button clicked...')


        var userformData = {
            'name' : null,
            'email' : null,
            'total' : total,
        }

        var shippingInfo = {
            'address':null,
            'county':null,
            'town':null,
            'postalcode' :  null,      
        }
        
        if(shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.county = form.county.value
            shippingInfo.town = form.town.value
            shippingInfo.postalcode = form.postalcode.value

        }

        if(user == 'AnonymousUser'){
            userformData.name = form.name.value
            userformData.email = form.email.value
           

        }
        var url= '/process_order/'
        fetch(url,{
          method: 'POST',
          headers:{
           'Content-Type' : 'application/json',
           'X-CSRFToken':csrftoken,
          },
         body:JSON.stringify({'form':userformData, 'shipping' :shippingInfo}),
        })
        .then((response) => response.json())
        .then((data)=>{
            console.log('Success:', data);
            alert('Transaction completed');
            window.location.href = "{% url 'store' %}"
        })

    }

</script> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>   //The JavaScript code listens for a click event on the "Make Payment" button
    $(document).ready(function() {
        $('#make-payment').click(function() {
            window.location.href = '/initiate_payment/';
        });
    });
</script>



<!-- JavaScript code to redirect to initiate_payment.html with query parameters -->
<script>
    // Retrieve amount and email data from your checkout.html fields
    var amount = document.getElementById('amount').value;
    var email = document.getElementById('email').value;

    // Redirect to initiate_payment.html with the data as query parameters
    window.location.href = '/initiate_payment.html?amount=' + encodeURIComponent(amount) + '&email=' + encodeURIComponent(email);
</script>
{% endblock content%}